<%- partial('_partial/header') %>

<main class="content" id="episodes">
    <div class="seriesInProgress">Dette er en pågående serie. Ny episode kommer hver fredag klokken 07:00.</div>
    <div class="content__timeline">
        <span class="content__timeline__start">START</span>
    </div>
    <div class="content__episodes">
        <% page.posts.forEach(function(item){ %>
            <%- partial('_partial/code-card', {item: item}) %>
        <% }); %>
    </div>
</main>