<!DOCTYPE html>
<html lang="no-nb">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body>
    <!-- Header -->
    <%- body %>

    <!-- After footer scripts -->
    <%- partial('_partial/footer') %>
  </body>
</html>
