<footer class="footer">
    <h3><a href="https://kodesnutt.io">kodesnutt.io</a></h3>
    <p>
        <a href="https://twitter.com/kodesnutt">@kodesnutt</a> –
        <a href="https://www.youtube.com/channel/UCnh552SM60LYhWogGmwYZuQ">Subscribe</a>
    </p>
</footer>


<!-- Custom CSS -->
<%- css('css/styles.css') %>
<%- css('css/firacode/fira_code.css') %>
