<header class="topHeader">
  <div class="noise"></div>
  <%- partial('hgroup') %>
  <section class="hero">
    <h2><%= config.subtitle %></h2>
    <p><%= config.description %></p>
    <a href="#episodes" class="startButton">Start nå</a>
  </section>
</header>